{{ partial "header.html" . }}
	<main>
          {{ $name := .Site.Taxonomies.name }}
            {{ if $name }}
              <h1>Movies:</h1>
			  {{ $counter := 1 }}
              {{ range $index, $alternativeName := .Site.Taxonomies.alternativeName }}
              {{ $counter }}. <a class="brand-name" href="{{ "/alternativename/" | relURL }}{{ $index | urlize }}/index.html">{{ $index }}</a>
			  {{ $counter = add $counter 1 }}
              <br>
            {{ end }}
          {{ end }}
	</main>
{{ partial "footer.html" . }}
